* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: white;
  color: #000;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
}

input,
textarea,
button,
select {
  font: inherit;
}

.header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #0099FF;
  color: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 15;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
}

.link {
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
  text-decoration: none;
}

nav a, nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}

main {
  max-width: 90%;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin: 0.5em;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 2px 2px gray;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 1rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 150px;
  resize: none;
}
.postFormImage{
  width: 100px;
  height: 100x;
  border-radius: 5px;
}
.addButton {
  
  color: white;
  font-size: 16px;
  padding: 10px 60px;
  border-radius: 20px;
  margin: 10px 0px;
  cursor: pointer;
  text-transform:   uppercase;
  border: none;
  box-shadow: 0px 2px 2px gray;
  transition: ease background-color 250ms;
  background-color: #0099FF;
   
}
.addButton:hover {
  background-color: #1188FF;
}
.postButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  min-width: 120px;
  box-shadow: 0px 2px 2px gray;
  transition: ease background-color 250ms;
  background-color: #0099FF;
  
}
.author, .postTime {
  font-size: 0.8rem;
  color:gray;
  margin-right: 30px;
}
.postSection {
  display: grid;
  grid-gap: 10px;
  
}
@media (min-width: 320px) {
  .postSection  { grid-template-columns: 1fr; }
}
@media (min-width: 640px) {
  .postSection  { grid-template-columns: 1fr 1fr; }
}
@media (min-width: 1180px) {
  .postSection  { grid-template-columns: 1fr 1fr 1fr; }
}
@media (min-width: 1800px) {
  .postSection  { grid-template-columns: 1fr 1fr 1fr 1fr; }
}
.postImage {
  display: block;
  width: 100%;
  height: 180px;
}
.likeBox{
  height: 40px;
  display: flex;
  align-items: center;

}
.iconBox{
  position: relative;
  height: 40px;
  width: 85px;
}
.postLikeIcon{
  border-radius: 20px;
  width: 38px;
  height: 38px;
  background-color: #ccc;
  position: absolute;
  right: 0;
}
.postLikeIcon:nth-child(2){
right: 15px;
}
.postLikeIcon:nth-child(3){
  right: 30px;
}
.postLikeIcon:nth-child(4){
  right: 45px;
}

.postLikeNum{
  padding-left: 5px;
  font-size: 1rem;
  line-height: 1rem;
}
/*login form*/
.loginContainer {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:450px;
}
.input_wrap {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.formInput{
  border: none;
  border-bottom: 1px solid #0099FF;
  padding: 8px 10px 8px 30px;
  width: 300px;
  
}
.formInput:focus{
  border: none;
  outline: none;
  border-bottom: 1px solid #0099FF;
}
.formInput::placeholder{
  color:#ccc;
  font-size: 18px;
}
.inputIcon {
  position: absolute;
  z-index: 10;
  color:#0099FF;
}
.regLink {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}